<div class="container">
  <div class="form-inline" *ngIf="!gameOver">
    <div class="form-group" style="margin-right: 20px;">
      <label for="rows" style="margin-right: 10px;">Nombre de lignes</label>
      <input
        type="number"
        id="rows"
        class="form-control"
        [(ngModel)]="rows"
        min="1"
        (change)="generateGrid()"
        style="width: 100px;"
        max="5"
      />
    </div>
    <div class="form-group">
      <label for="cols" style="margin-right: 10px;">Nombre de colonnes</label>
      <input
        type="number"
        id="cols"
        class="form-control"
        [(ngModel)]="cols"
        min="1"
        (change)="generateGrid()"
        style="width: 100px;"
        max="5"
      />
    </div>
  </div>

  <div *ngIf="grid.length > 0" class="grid">
    <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
      <div
        *ngFor="let cell of row; let colIndex = index"
        class="grid-cell"
        [style.backgroundColor]="grid[rowIndex][colIndex]"
        (click)="openPopup(rowIndex, colIndex)"
      ></div>
    </div>
  </div>

  <div class="modal" *ngIf="selectedCell">
    <div class="modal-content">
      <h3>{{ questions[selectedCell.row][selectedCell.col] }}</h3>
      <input
        type="text"
        [(ngModel)]="enteredColor"
        class="form-control"
        placeholder="Enter your color"
      />
      <div class="modal-buttons">
        <button class="btn btn-danger" (click)="closePopup()">Annuler</button>
        <button class="btn btn-success" (click)="applyColor()">Valider</button>
      </div>
    </div>
  </div>

  <div *ngIf="gameOver" class="game-result">
    <div class="result-container">
      <h2 *ngIf="gameWon" class="win-message">Congratulations, You Win!</h2>
      <h2 *ngIf="!gameWon" class="lose-message">Oops, You Lose!</h2>
      <div class="result-image">
        <img *ngIf="gameWon" src="../../assets/win_image.png" alt="Win" />
        <img *ngIf="!gameWon" src="../../assets/lose_image.png" alt="Lose" />
      </div>
      <button class="btn btn-primary" (click)="replayGame()">Replay</button>
    </div>
  </div>
</div>
