<h2 class="title">Users</h2>

<div class="search-container">
  <input 
    type="text" 
    placeholder="Search by username" 
    [(ngModel)]="searchQuery" 
    (input)="filterUsers()" 
    class="search-input" />
</div>

<table class="user-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUsers">
      <td><input [(ngModel)]="user.username" class="input-field" /></td>
      <td><input [(ngModel)]="user.email" class="input-field" /></td>
      <td><input [(ngModel)]="user.role" class="input-field" /></td>
      <td><input [(ngModel)]="user.password" class="input-field" type="password" /></td>
      <td>
        <div class="button-container">
        <button (click)="updateUser(user)" class="button update-button">Update</button>
        <button (click)="deleteUser(user.id)" class="button delete-button">Delete</button>
      </div>
      </td>
    </tr>
  </tbody>
</table>

